.carrito{
    width: 5rem;
    height: 3rem;
    display: flex;
    vertical-align: middle;
    border-radius: 15%;
    align-items: center;
    justify-content: space-evenly;
}
.carritoImg{
    width: 3rem;
    height: 3rem;
}
.carritoCantidad{
    font-size: 1.5rem;
}
