
.third {
    border-color: #93291e;
    color: azure;
    background-color: #93291e;
    transition: all 150ms ease-in-out;
    height: 3rem;
    font-size: 1.2rem;
    align-self: center;
    text-align: -webkit-center;
}
.third:hover {
    box-shadow: 0 0 10px 0 #ed213a inset, 0 0 10px 4px #ed213a;
    background-color: black;
}
.cantidadBtn{
    background-color: black;
    color: azure;
    height: 100%;
}
.counterDiv{
    margin-left: 25%;
}